.homeSearch{
    flex: 1;
}
.homeSlide{
    height: 200px;
}
.mainSlide{
    width: 1280px;
}
.homeTool div{
    border: 1px solid black;
    padding: 5px 5px;
    border-radius: 50%;
    text-align:center;
    font-size: 14px;
}

/* Slide CSS */
.slide{
    width: 100%;
    height: 50vh;
    background-color: black;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}
.slide:nth-child(1){
    background-image: url(https://png.pngtree.com/thumb_back/fh260/back_our/20190622/ourmid/pngtree-cartoon-wind-extracurricular-interest-class-background-image_220723.jpg);
}
.s-2{
    background-image: url(https://png.pngtree.com/thumb_back/fh260/back_our/20190621/ourmid/pngtree-open-school-season-blue-vector-fresh-banner-background-image_198992.jpg)!important;
}
.s-3{
    background-image: url(https://www.shutterstock.com/shutterstock/videos/3970749729/thumb/1.jpg?ip=x480)!important;
}
.slide-container{
    width: 50%;
    height: 30%;
    background-color: none;
    overflow: hidden;

    position: absolute;
    top: calc(50% - (106.26px / 2));
    left: calc(50% - (425.5px / 2));
}
.text-main,.text-main-below{
    transition: 900ms all ease;
    transform: translateY(100px);
}
.text-main.open{
    transform: translateY(20px)!important;
}
.text-main-below.open{
    transform: translateY(20px)!important;
}
/*End  */